<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>


<div class="ui main text container">
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Orders
</h4>
<table class='ui definition table'>
  <tr>
    <th>Order number</th>
    <th>Financial Status</th>
    <th>Fulfillment Status</th>
  </tr>
  <% @orders.each do |order | %>
  <tr>
    <td><%= order.order_number %></td>
    <td><%= order.financial_status.capitalize %></td>
    <td>
      <% if order.fulfillment_status == nil%>
        Unfulfilled
        <% else %>
      <%= order.fulfillment_status.capitalize%>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
<%= javascript_include_tag 'home' %>
